USE [master]
GO
/****** Object:  Database [persona_db]    Script Date: 28/04/2023 21:52:05 ******/
CREATE DATABASE [persona_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'persona_db', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\persona_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'persona_db_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\persona_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [persona_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [persona_db]
GO
/****** Object:  Table [dbo].[estudios]    Script Date: 28/04/2023 21:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudios](
	[id_prof] [int] NOT NULL,
	[cc_per] [int] NOT NULL,
	[fecha] [date] NULL,
	[univer] [varchar](50) NULL,
 CONSTRAINT [PK_estudios] PRIMARY KEY CLUSTERED 
(
	[id_prof] ASC,
	[cc_per] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 28/04/2023 21:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[cc] [int] NOT NULL,
	[nombre] [varchar](45) NOT NULL,
	[apellido] [varchar](45) NOT NULL,
	[genero] [char](1) NOT NULL,
	[edad] [int] NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[cc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesión]    Script Date: 28/04/2023 21:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesión](
	[id] [int] NOT NULL,
	[nom] [varchar](90) NOT NULL,
	[des] [text] NULL,
 CONSTRAINT [PK_profesión] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[telefono]    Script Date: 28/04/2023 21:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[telefono](
	[num] [varchar](50) NOT NULL,
	[oper] [varchar](45) NOT NULL,
	[duenio] [int] NOT NULL,
 CONSTRAINT [PK_telefono] PRIMARY KEY CLUSTERED 
(
	[num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[estudios]  WITH CHECK ADD  CONSTRAINT [FK_estudios_persona] FOREIGN KEY([cc_per])
REFERENCES [dbo].[persona] ([cc])
GO
ALTER TABLE [dbo].[estudios] CHECK CONSTRAINT [FK_estudios_persona]
GO
ALTER TABLE [dbo].[estudios]  WITH CHECK ADD  CONSTRAINT [FK_estudios_profesión] FOREIGN KEY([id_prof])
REFERENCES [dbo].[profesión] ([id])
GO
ALTER TABLE [dbo].[estudios] CHECK CONSTRAINT [FK_estudios_profesión]
GO
ALTER TABLE [dbo].[telefono]  WITH CHECK ADD  CONSTRAINT [FK_telefono_persona] FOREIGN KEY([duenio])
REFERENCES [dbo].[persona] ([cc])
GO
ALTER TABLE [dbo].[telefono] CHECK CONSTRAINT [FK_telefono_persona]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [CK_genero] CHECK  (([genero]='M' OR [genero]='F'))
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [CK_genero]
GO
USE [master]
GO
